<div class="container mx-auto">
  <div class="w-96 mx-auto">
    <% if alert %>
      <%= render partial: "shared/alerts/simple", locals: { type: :danger, message: alert } %>
    <% end %>
    <% if notice %>
      <%= render partial: "shared/alerts/simple", locals: { type: :info, message: notice } %>
    <% end %>
  </div>

  <div class="w-96 mt-8 mx-auto p-12 border rounded">
    <h2 class="text-center text-2xl font-medium mb-6">Welcome to Tasklist</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-md border-gray-300 mb-6 px-4 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>

      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "block w-full rounded-md border-gray-300 mb-6 px-4 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <%= f.hidden_field :remember_me, value: true %>
      <% end %>

      <%= f.submit "Login", class: "w-full bg-blue-500 hover:bg-blue-600 text-white p-2 rounded hover:cursor-pointer" %>
    <% end %>
  </div>
</div>
